{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article creation!</h1>

    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            {{ form_row(form.description) }}
            {{ form_row(form.content) }}

            {{ form_row(form.submit, { 'label': 'Submit me' }) }}
        {{ form_end(form) }}
    </div>


    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
